body {
    font-family: "HelveticaNeue W01 25 UltLt", serif;
    color: white;
    background-color: darkgreen;
    height: 100vh;
    width: 100vw;
}

.text-wrapper {
    height: 100%;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}